*{
    margin: 0;
    padding: 0;
}

body {
    background-color: lightskyblue;
}

.container {
    align-items: center;
    flex-direction: column;
    display: flex;
    height: 400px;
    margin: 5%;
    margin-top: 5%;

}

.container-2 {  
    margin: 3%;   
    width: auto;   
    height: 40px;   
    background-color: cyan;
    font-size: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    border-radius: 7px;
}   

.container-3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    text-align: center;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
} 

.container-4 {
    text-align: center;
    margin-top: 5%;
    margin-right: 10%;
    margin-left: 10%;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container-5 {
    margin-top: 7%;   
    text-align: center;
}

.CoC {
    text-align: center;
    font-size: 35px;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Geodash {
    text-align: center;
    font-size: 35px;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Pokemon {
    text-align: center;
    font-size: 35px;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Jetpack {
    text-align: center;
    font-size: 35px;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.item {     
    display: flex;     
    flex-grow: 1;     
    height: 100px;
    margin-bottom: 10px;     
    justify-content: center;     
    align-items: center;     
    font-size: 30px;     
    font-family: monospace;     
    background-color: cyan; 
    border-radius: 10px;  
    width: 300px;

 }    
 
a:link {     
     text-decoration: none;   
    }   
    
a:active {     
    text-decoration: underline;   
}    

a:hover {     
    color: lightskyblue; 
}      

.item + .item {     
    margin-left: 0%;   
}


